.displayedQuestion{
    background-color: #2e6f40;
    width: 800px;
    height: 500px;
    border: 5px solid #253d2c;
    font-size: 50px;   
    display: flex;
    align-items: center;
}

.questionText{
    text-align: center;
}

.invisible{
    display: none;
}