.displayedQuestion{
    background-color: #2e6f40;
    width: 800px;
    height: 500px;
    border: 5px solid #253d2c;
    font-size: 50px;   
    display: flex;
    text-align: center;
    justify-content: center;
}

.answerBox{
    background-color: rgb(166, 166, 250);
    width: 800px;
    height: 500px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userResponse{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.responseButton{
    font-size: 20px;
    background-color: #cfffdc;
    padding: 5px;
    border-radius: 5px;
}

.questionText{
    display: flex;
    align-items: center;
    justify-content: center;
}

.invisible{
    display: none;
}