.questionGrid{
    border: 1px solid red;
    width: 800px;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.questionCard{
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
