.questionGrid{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    gap: 20px;
    min-width: 1000px;
    height: 500px;
}

.questionCard{
    border: 1px solid black;

}
